<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mobile Ticket Queue</ion-title>
    <ion-buttons end>
      <ion-note>{{loggedInText() | async}}</ion-note>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content primary-color-text>
  <ion-list>
    <ion-item-divider *ngIf="!username" color="light">Setup</ion-item-divider>
    <ion-item *ngIf="!username" text-wrap>
      <h2>It's Your first time here?</h2>
      <p>Please fill out your Name in the settings-panel to connect to the service.</p>

      <button ion-button icon-left item-right large color="secondary" (click)="settings()">
        <ion-icon name="settings"></ion-icon>
        <div>Settings ...</div>
      </button>
    </ion-item>

    <ion-item-divider *ngIf="!(loggedIn() | async) && username" color="light">Connect</ion-item-divider>
    <ion-item *ngIf="!(loggedIn() | async) && username" text-wrap>
      <h2>There is no connection to the service.</h2>
      <p>Please check the settings.</p>
      <button ion-button icon-left item-right large color="secondary" (click)="settings()">
        <ion-icon name="settings"></ion-icon>
        <div>Settings ...</div>
      </button>
    </ion-item>
    <ion-item-divider color="light">Subscribed Events
      <ion-badge item-end>{{ticketSubscriptions.length}}</ion-badge>
    </ion-item-divider>
    <ticket *ngFor="let subscription of ticketSubscriptions" [subscribedEvent]="subscription" (onClose)="onTicketClosed($event)"></ticket>
    <ion-item-divider color="light">
      <ion-label>Available Events</ion-label>
      <ion-badge item-end>{{unsubscribedItems.length}}</ion-badge>
    </ion-item-divider>
    <ion-searchbar placeholder="Search" [(ngModel)]="myInput" [showCancelButton]="true" (ionInput)="getEvents($event)" (ionCancel)="getEvents($event)">
    </ion-searchbar>
    <ion-item-group>
      <button ion-item detail-push text-wrap *ngFor="let item of unsubscribedItems" (click)="subscribe(item)">
        <ion-avatar item-start class="icon-block">
          <img src="assets/imgs/ticket-icon.png">
        </ion-avatar>
        {{item.eventTitle}}
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>