<!--
  Generated template for the MyeventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem text-wrap *ngFor="let item of myevents">
      <ion-item detail-push>
        <ion-avatar item-start class="icon-block">
          <img src="assets/imgs/ticket-icon.png">
        </ion-avatar>
        <ion-list inline>
          <ion-item><h1>{{item.event.eventTitle}}</h1> at {{item.event.date}}</ion-item>
          <ion-item>How many to invite for the next round?<ion-badge item-end>{{item.event.groupsize}}</ion-badge></ion-item>
          <ion-item><ion-range #count [(ngModel)]="item.event.groupsize" min="1" max="10" step="1" snaps="true" color="secondary"></ion-range></ion-item>
          <ion-item *ngFor="let invite of item.invites">
            {{invite.participants}} for {{getUserName(invite.userid)}}
            <ion-badge *ngIf="invite.state === 'Issued'" item-end>{{invite.state}}</ion-badge>
            <ion-badge *ngIf="invite.state === 'Called'" item-end>{{invite.state}}</ion-badge>
            <ion-badge *ngIf="invite.state === 'Skipped'" item-end>{{invite.state}}</ion-badge>
            <ion-badge *ngIf="invite.state === 'Accepted'" color="secondary" item-end>{{invite.state}}</ion-badge>
            <ion-badge *ngIf="invite.state === 'Confirmed'" color="secondary" item-end><h1>{{invite.state}}</h1></ion-badge>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item-options side="left">
        <button class="ion-minus-circled" ion-button color="secondary" (click)="invite(item)">Invite</button>
        <button class="ion-minus-circled" ion-button color="default" >Open</button>
        <button class="ion-minus-circled" ion-button color="dark" >Close</button>
        <button class="ion-minus-circled" ion-button color="danger" >Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>